extends ../layout

block content
  h2 #{paciente ? 'Editar Paciente' : 'Registro de Paciente'}

  form(method='POST', action=paciente ? `/paciente/${paciente.id}/editar` : '/paciente/nuevo')
    label(for='nombre') Nombre y Apellido:
    input(type='text', name='nombre', value=paciente ? paciente.nombre : '', required)
    br

    label(for='dni') DNI:
    input(type='text', name='dni', value=paciente ? paciente.dni : '', required)
    br

    label(for='sexo') Sexo:
    select(name='sexo')
      option(value='M', selected=paciente ? paciente.sexo === 'M' : false) Masculino
      option(value='F', selected=paciente ? paciente.sexo === 'F' : false) Femenino
    br

    label(for='seguro') Tiene Seguro:
    input(type='checkbox', name='seguro', checked=paciente ? paciente.seguro : false)

    button(type='submit')= paciente ? 'Guardar Cambios' : 'Registrar Paciente'

  br
  a(href='/paciente') Volver a la lista de pacientes
